@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
.Header {
  /* border: 2px solid black; */
  width: 1518px;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.upper-container {
  width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-container input {
  width: 285px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ff0909;
  background-color: black;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  color: #ffff;
}
.upper-container input::placeholder {
  color: #ffff;
}
.down-container {
  width: 326px;
  height: 31px;
  display: flex;
  gap: 14px;
  position: absolute;
  top: 140px;
}
.down-container :first-child {
  width: 43px;
  height: 31px;
  color: #ffff;
  background-color: #ff0909;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.down-container :nth-child(2) {
  width: 96px;
  height: 31px;
  color: #ffff;
  background-color: #ff0909;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.down-container :nth-child(3) {
  width: 71px;
  height: 31px;
  color: #ffff;
  background-color: #ff0909;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.down-container :last-child {
  width: 74px;
  height: 31px;
  color: #ffff;
  background-color: #ff0909;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.body {
  background-image: url("../assets/bg.png");
  width: 1518px;
  height: 785px;

  display: flex;
  justify-content: center;
  align-items: center;

}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 32px;
}

.card-1 {
  width: 450px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.card-1 .upper-part {
  display: flex;
  align-items: center;
  gap: 10px;
}
.upper-part .image-recipe{
    height: 133px;
    width: 133px;
    border-radius: 150px;
}
.upper-part .text {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.text h3 {
  font-size: 22px;
}
.text p {
  font-weight: 400;
  font-size: 14px;
}
.lower-part {
  display: flex;
  justify-content: end;
}
.lower-part button {
  height: 25px;
  width: 57px;
  margin-top: 10px;
  margin-right: 25px;
  background-color: #ff0909;
  border-radius: 5px;
  color: #ffff;
  border: none;
}
